@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;600;700;800&family=Barlow:wght@400;600;700;800&family=Bellefair&display=swap');

$pages-background: #0B0D17;
$font-barlow-condensed: "Barlow Condensed";
$font-bellfair: "Bellefair";
$font-barlow: "Barlow";